#passwordMessage {
    margin-top: -1rem;
}

p.auth-description {
    margin-bottom: 1rem;
    opacity: 0.5;
}

#password-strength-meter {
    width: 100%;
    height: 10px;
    margin-top: -0.7rem;
}

#password-requirements-description {
    margin: 15px;
}

#confirm-password-message {
    margin-top: -1rem;
}

#register-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#password-requirements-description .invalid {
    color: gray;
}

#password-requirements-description .valid {
    color: green;
}

#password-strength-text {
    font-weight: bold;
}

#passwordMessage.success {
    color: green;
}

#passwordMessage.error {
    color: red;
}
