#passwordMessage {
    margin-top: -1rem;
}

p.auth-description {
    margin-bottom: 1rem;
    opacity: 0.5;
}

#password-strength-meter {
    width: 100%;
    height: 10px;
    margin-top: -0.7rem;
}

#password-requirements-description {
    margin: 15px;
    opacity: 0.5;
}

#confirm-password-message {
    margin-top: -1rem;
}

#register-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
